In [7]:
import pandas as pd

import numpy as np
from scipy.io import arff
data = arff.loadarff('scpf.arff')
df = pd.DataFrame(data[0])

df.head()

,daysUntilLastIssue,source=city_initiated,source=android,source=remote_api_created,source=new_map_widget,source=iphone,tag_type=tree,tag_type=street_light,tag_type=graffiti,tag_type=pothole,...,latitude,longitude,city=Oakland,city=Chicago,city=NH,city=Richmond,distanceFromCenter,num_views,num_votes,num_comments
0,432.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.564581,-77.421268,0.0,0.0,0.0,1.0,0.051774,20.0,2.0,0.0
1,269.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,...,41.919565,-87.691890,0.0,1.0,0.0,0.0,0.216354,0.0,1.0,0.0
2,404.0,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,...,37.512369,-77.396197,0.0,0.0,0.0,1.0,0.198224,34.0,2.0,0.0
3,357.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,...,41.691724,-87.687650,0.0,1.0,0.0,0.0,0.728834,0.0,1.0,0.0
4,305.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,...,41.750569,-87.648889,0.0,1.0,0.0,0.0,0.495882,0.0,1.0,0.0

In [8]:
df.dropna(inplace=True)

In [9]:
len(df)

143

In [ ]:
covariables = df.iloc[:,0:7].as_matrix()
response = df.iloc[:,7:10].as_matrix()
positions = np.arange(103)

In [7]:
import glob

txtfiles = []
for file in glob.glob("*.arff"):
    txtfiles.append(file)

In [13]:
txtfiles.pop(0)

'atp1d.arff'

In [14]:
import os

for file in txtfiles:

   os.mkdir(file.split(".")[0])